#root {
  max-width: 1600px;
  margin: 0 auto;
}

.App {
  background-color: #87CEFA;
  display: grid;
  grid-template-areas:"head head head" "nav main main" "nav main main" ;
  box-shadow: 0 0 20px 0 #949494;
}

header {
  grid-area: head;
  background-color: inherit;
}

nav {
  grid-area: nav;
  background-color: #00BFFF;
}

main {
  grid-area: main;
  background-color: #00BFFF;
}

main > * + * {
  margin-top: 20px;
}